@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 237 242 247;
  --foreground: 23 23 23;
  --primary:  31 41 55;
  --accent: 67 56 202;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
